# Dependencies
node_modules/
dist/

# Databases
*.db
*.sqlite
*.db-journal
*.db-shm
*.db-wal

# Environment
.env

# Logs
logs/
*.log
npm-debug.log*

# Cache
.cache/

# OS files
.DS_Store
Thumbs.db

# Test artifacts
*.png
!public/*.png
!assets/*.png
